/******* General *******/
* {
    font-family: 'Roboto';
    color: $font-color;
}

*:focus {
    outline: 1px dashed $font-color;
}

body {
    margin: auto;
    background-color: $primary-bg-color;
}

h1 {
    text-decoration: none;
    color: $font-color-light;
}

h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

h3 {
    margin: 0px;
    color: $primary;
}

p {
    margin: 0px;
    color: inherit;
}

.logo-banner {
    a {
        text-decoration: none;
    }
}

a {
    color: $font-color;
    text-decoration: underline;

    &:hover {
        color: black;
    }
}

ul {
    margin-top: 0;
    padding-left: 10px;
}

li {
    padding: 5px;
}

input {
    width: 18px;
    height: 18px;
}

.main-container {
    min-width: 320px;
    max-width: 1024px;
    margin: auto;
}