.accordion {
    width: 100%;
    cursor: pointer;
    padding: 18px;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: $primary;
    background-color: $primary-bg-color;
    transition: 0.4s;

    &:hover {
        text-decoration: underline;
    }
}

.panel {
    display: none;
    background-color: $primary-bg-color;
    padding: 0 18px;
    overflow: hidden;
}

.Starters,
.Mains,
.Sides,
.Dessert {
    width: 65vw;
    min-width: 320px;
    max-width: 480px;
    border-bottom: 1px solid rgb(24, 51, 84);
    user-select: none;
}