.Courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    article {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px;
    }
}

.accordion:focus {
    text-decoration: underline;
    border: 1px dashed $font-color;
}

.panel ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;

    li {
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 10px 0;
        border: 1px solid rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: $secondary-bg-color;
        }
    }

}

.RecipeLink {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 120px;
    }
}